/*=========== mobile 320px + ============ */
.description {
  position: relative;
}
.description::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 459px;
  height: 408px;
  background-image: url('/img/about-us/ornament-m.png');
  block-size: content;
  background-repeat: no-repeat;
}
.img-container {
  margin-top: 50px;
}

.img {
  border-radius: 4px;
}

.description-title {
  padding-bottom: 20px;
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
}
.description-text {
  margin-top: 20px;
  color: var(--grey);
  font-size: 14px;
  width: 335px;
}

/*============ tablet 768px + ==============*/
@media screen and (min-width: 768px) {
  .description::after {
    background-image: url('/img/about-us/ornament-t.png');
    width: 544px;
    height: 484px;
  }

  .description-title {
    font-size: 44px;
    line-height: 64px;
  }
  .description-text {
    font-size: 16px;
    width: 704px;
  }
}

/*=========== desctop 1280px ================*/
@media screen and (min-width: 1280px) {
  .description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .description::after {
    background-image: url('/img/about-us/ornament-d.png');
    width: 544px;
    height: 484px;
  }
  .description-text {
    width: 436px;
  }
}
