/* @media screen and (min-width: 375px) { */
.footer_section {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  flex-shrink: 0;
  padding-bottom: 0;
}
.footer_ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
}
.footer-item {
  width: calc((100% - 40px) / 2);
}
.footer_li {
  color: var(--white);
  line-height: 1.3;
  text-transform: uppercase;
  transition: color 250ms ease-in-out;
}

.footer_li:hover,
.footer_li:focus {
  color: var(--yellow);
}
.footer_motto {
  max-width: 335px;
  color: #fcf9f9;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 80px;
}
.footer_Ukrainian {
  color: #ecd979;
  font-size: 44px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1.32px;
}

.footer_section {
  position: relative;
}
@media screen and (max-width: 767px) {
  .footer_background_img {
    background-image: url('/img/footer/ft_elm_mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 375px;
    min-height: 212px;
    margin: 0 auto;
  }
}

/* .footer_background_img {
    background-image: url("../../img/footer/ft_elm_mobile.png");
    background-repeat: no-repeat;
    display: flex;
    min-width: 320px;
    min-height: 212px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
} */
@media screen and (min-width: 768px) {
  .footer_section {
    position: relative;
  }
  .footer_section::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 174px;
    height: 370px;
    background-image: url('/img/footer/ft_elm_tablet.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer_ul {
    flex-wrap: nowrap;
    justify-content: left;

    row-gap: 0;
  }
  .footer-item {
    width: auto;
    /* margin-right: 25px; */
  }
  .footer_motto {
    max-width: 521px;
    color: #fcf9f9;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: -0.03em;
    margin-bottom: 0;
  }
  .footer_Ukrainian {
    color: #ecd979;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: -0.03em;
  }
  @media screen and (min-width: 1280px) {
    .footer_section {
      position: relative;
    }
    .footer_section::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 336px;
      height: 363px;
      background-image: url('/img/footer/ft_elm_lapt_1280.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .footer_section {
      padding-top: 40px;
      padding-bottom: 40px;
      border-top: 1px solid rgba(252, 249, 249, 0.1);
      flex-shrink: 0;
      width: auto;
      height: auto;
    }
    .footer_ul {
      cursor: pointer;
      width: auto;
      margin-bottom: 117px;
    }
    .footer-item {
      margin-right: 0;
    }
    .footer_li {
      margin-right: 25px;
    }
    .footer_motto {
      display: block;
      max-width: 754px;
      color: #fcf9f9;
      font-size: 64px;
      font-weight: 400;
      line-height: 1.18;
      letter-spacing: -0.03em;
    }
    .footer_Ukrainian {
      color: #ecd979;
      font-size: 64px;
      font-weight: 400;
      line-height: 1.18;
      letter-spacing: -0.03em;
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .footer_background_img {
    background-image: url('/img/footer/ft_elm_mobile@2x.png');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .footer_background_img {
    background-image: url('/img/footer/ft_elm_tablet@2x.png');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .footer_background_img {
    background-image: url('/img/footer/ft_elm_lapt_1280@2x.png');
  }
}
