.hero-container {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.hero-star {
    display: none;
}

.hero-title {
    width: 335px;
    color: var(--white);
    font-size: 44px;
    font-weight: 400;
    line-height: 1.23;
    /* 122.727% */
    letter-spacing: -1.32px;
    margin-bottom: 20px;
}

.hero-title-span {
    color: var(--yellow);
}

.hero-button {
    background-color: transparent;
    color: var(--white);
    text-align: center;
    height: 49px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    display: flex;
    padding: 14px 36px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    /* correct marg? */
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    border: 1px solid var(--yellow);
}

.hero-order-icon {
    stroke: var(--yellow);
    fill: var(--yellow);
    /* transform: rotate(-30deg); */

}

@media screen and (min-width: 768px) {
    .hero-section {
            background-image: url(../../img/hero/cap.png);
            background-repeat: no-repeat;
            background-position: 100% 100%;
            /* correct size? */
            background-size: 142px 157px;
            /* position: relative; */
            max-height: 1023px;
        }

    .hero-container {
        display: flex;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        
    }

    .hero-star {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        right: 0;
        top: -31,5px;
    }

    .hero-star-icon {
        stroke: var(--yellow);
        fill: var(--yellow);
    }

    .hero-star-text {
        color: var(--grey);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.64px;
        width: 115px;
    }

    

    .hero-title {
        width: 549px;
        color: var(--white);
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.18;
        /* 118.519% */
        letter-spacing: -1.62px;
        margin-bottom: 40px;
        
    }
    
    .hero-button {
        font-size: 16px;
        letter-spacing: -0.64px;
        display: flex;
        padding: 14px 39px;
        align-items: center;
        justify-content: center;
        width: 168px;
        border-radius: 15px;
        border: 1px solid rgba(252, 249, 249, 0.10);
        /* margin-right: auto;
        margin-left: auto; */
        margin-bottom: 40px;
        /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    }
}

@media (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero-section {
        background-image: url(../../img/hero/cap@2x.png);
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
            max-height: 1020px;
        }

    .hero-star {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        right: 0;
        top: -31,5px;
}

    .hero-title {
        width: 518px;
         

}

}




   




