.our-collection-item:hover,
.our-collection-item:focus {
  transform: scale(1.05);
  box-shadow: 0 5px 20px hsla(59, 78%, 68%, 0.984);
  border-radius: 4px;
}
.name-title {
  transition: color 500ms ease-in-out;
}

.our-collection-item:hover .name-title,
.our-collection-item:focus .name-title {
  text-align: center;
  color: var(--yellow);
}
.name-text {
  transition: color 500ms ease-in-out;
}

.our-collection-item:hover .name-title + .name-text,
.our-collection-item:focus .name-title + .name-text {
  text-align: center;
  color: rgba(252, 249, 249, 0.73);
}

.main-title {
  color: var(--white);
  font-size: 44px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 40px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 350ms ease-in-out;
}
.main-title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.our-collection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.img-collection {
  border-radius: 4px;
}

.images-container-collection {
  margin-bottom: 18px;
}

.container-name-collection {
  border: none;
}
.name-title {
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.name-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.05em;
}

.our-collection {
  position: relative;
}
.our-collection::after {
  content: '';
  position: absolute;
  left: 0;
  top: 298px;
  width: 72px;
  height: 177px;
  background-image: url('/img/our-collection/elem-mob.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.container-collection {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 375px) {
  .name-title {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .our-collection-item {
    width: calc((100% - 20px) / 2);
  }

  .img-collection {
    border-radius: 4px;
  }

  .name-title {
    color: var(--white);
    font-size: 18px;
    line-height: 18px;
    width: 342px;
    margin-bottom: 8px;
  }
  .name-text {
    color: rgba(252, 249, 249, 0.4);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
  }

  .our-collection::after {
    top: 221px;
    width: 114px;
    height: 300px;
    background-image: url('/img/our-collection/elem-tabl.png');
  }
}
@media screen and (min-width: 1280px) {
  .our-collection-item:hover,
  .our-collection-item:focus {
    /* box-shadow: 0 5px 20px hsla(59, 78%, 68%, 0.984); */
    transform: scale(1.1);
    /* border-radius: 4px; */
  }
  /* .name-title {
    transition: color 500ms ease-in-out;
  }

  .our-collection-item:hover .name-title,
  .our-collection-item:focus .name-title {
    text-align: center;
    color: var(--yellow);
  }
  .name-text {
    transition: color 500ms ease-in-out;
  }

  .our-collection-item:hover .name-title + .name-text,
  .our-collection-item:focus .name-title + .name-text {
    text-align: center;
    color: rgba(252, 249, 249, 0.73);
  } */
  .main-title {
    color: #fcf9f9;
    font-size: 44px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 40px;
  }
  .our-collection-list {
    column-gap: 20px;
    row-gap: 40px;
  }
  .our-collection-item {
    width: calc((100% - 80px) / 3);
    transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;
  }
  .img-collection {
    border-radius: 4px;
  }
  .container-name-collection {
    padding: 32px 0;
    border: none;
  }
  .name-title {
    color: var(--white, #fcf9f9);
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .name-text {
    color: rgba(252, 249, 249, 0.4);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
  }

  .our-collection::after {
    top: 221px;
    width: 169px;
    height: 300px;
    background-image: url('/img/our-collection/elem-desk.png');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .footer_background_img {
    background-image: url('/img/our-collection/elem-mob@2x.png');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .footer_background_img {
    background-image: url('/img/our-collection/elem-tabl@2x.png');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .footer_background_img {
    background-image: url('/img/our-collection/elem-desk@2x.png');
  }
}
