.testimonials-title {
  color: var(--white);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.testimonials-client {
  color: var(--white);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 54px;
}

.testimonials-text {
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}

.testimonials-card-link:nth-last-child(-n + 2) {
  display: none;
}

.testimonials-list {
  padding-top: 24px;
  position: relative;
}

.testimonials-card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 18px 18px 18px;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  box-shadow: 0px 2px 32px 4px rgba(18, 20, 23, 0.02);
}

.testimonials-image {
  position: absolute;
  top: 0;
}

@media screen and (min-width: 768px) {
  .testimonials-title {
    font-size: 44px;
    line-height: 1.5;
  }

  .testimonials-text {
    font-size: 16px;
    font-weight: 400;
  }

  .testimonials-card-link:nth-last-child(-n + 2) {
    display: flex;
  }

  .testimonials-card-link:last-child {
    display: none;
  }

  .testimonials-list {
    display: flex;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-card-link:last-child {
    display: flex;
  }

  .testimonials-list {
    gap: 26px;
  }
}
