<section class="description section">
  <div class="description-container container">
    <div class="text-container">
      <h2 class="description-title">About Us</h2>
      <p class="description-text text-part">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="description-text">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in every
        detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing
        one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
        unique history and symbolism, which gives it a special meaning.
      </p>
    </div>
    <div class="img-blouse-container">
      <img
        class="img"
        srcset="
          ./img/about-us/sample-des@1x.jpg  594w,
          ./img/about-us/sample-des@2x.jpg 1188w,
          ./img/about-us/sample-tab@1x.jpg  704w,
          ./img/about-us/sample-tab@2x.jpg 1408w,
          ./img/about-us/sample-mob@1x.jpg  335w,
          ./img/about-us/sample-mob@2x.jpg  670w
        "
        src="./img/about-us/sample-mob@1x.jpg"
        sizes="(min-width: 1280px) 594px, (min-width: 768px) 704px, (min-width: 375px) 335px"
        alt="sample"
      />
    </div>
  </div>
  <div class="img-container"></div>
</section>
