<section class="section about" class="ornament-about">
  <div class="container">
    <h2 class="about-title">About Us</h2>
    <p class="about-text">
      The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
      vyshyvanka comes to life with new zest and style. Our store offers a wide
      selection of high-quality and authentic embroidery, which combines the
      elegance of traditional needlework and modern design.
    </p>
    <p class="about-text">
      In "Vyshyvanka Vibes" you will find various models of embroidery, from
      classic to modern, corresponding to the latest fashion trends. Our
      embroidery is made using natural fabrics and is embroidered by highly
      qualified craftsmen who convey the beauty of Ukrainian culture in every
      detail.We believe that vyshyvanka is not just clothing, but a symbol of
      national pride, the heritage of our ancestors and a way of expressing
      one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
      unique history and symbolism, which gives it a special meaning.
    </p>
  </div>
  <div class="container">
    <img
      class="img"
      srcset="
        /src/img/about-us/sample-mob@1x.jpg  335w,
        /src/img/about-us/sample-mob@1x.jpg  670w,
        /src/img/about-us/sample-tab@1x.jpg  704w,
        /src/img/about-us/sample-tab@2x.jpg 1408w,
        /src/img/about-us/sample-des@1x.jpg  594w,
        /src/img/about-us/sample-des@2x.jpg 1188w
      "
      src="/src/img/about-us/sample-mob@1x.jpg"
      sizes="(min-width: 375px) 335px, (min-width: 768px) 704px, (min-width: 1280px) 594px"
      alt="sample"
      width="335px"
    />
    <img
      src="/src/img/about-us/ornament-m.png"
      alt="ornament"
      class="ornament-about"
    />
  </div>
</section>
