<section class="footer_section section">
  <div class="footer-container container">
<ul class="footer_ul">
      <li class="footer-item">
        <a class="footer_li" href="#about-us">About&nbsp; us</a>
      </li>
      <li class="footer-item">
        <a class="footer_li" href="#your-order">Customer&nbsp; order</a>
      </li>
      <li class="footer-item">
        <a class="footer_li" href="#our-collection">Our&nbsp; collection</a>
      </li>
      <li class="footer-item">
        <a class="footer_li" href="#testimonials">Testimonials</a>
      </li>
    </ul>
       <p class="footer_motto">A touch of <span class="footer_Ukrainian">Ukrainian</span> culture in
      every embroidery
    </p>
    </div>
    <div class="footer_background_img"></div>
  </div>
  </section>
</footer>