<section class="our-collection section" id="our-collection">
  <div class="container-collection container">
    <h2 class="main-title">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            src="./img/our-collection/1.jpg"
            srcset="./img/our-collection/1@2.jpg 2x"
            alt="August Poltava women's blouse"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">August Poltava women's blouse</h3>
          <p class="name-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            src="./img/our-collection/2.jpg"
            srcset="./img/our-collection/2@2.jpg 2x"
            alt="Women's blouse Gorgany"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Women's blouse Gorgany</h3>
          <p class="name-text">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            src="./img/our-collection/3.jpg"
            srcset="./img/our-collection/3@2.jpg 2x"
            alt="Women's blouse Crimea"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Women's blouse Crimea</h3>
          <p class="name-text">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            src="./img/our-collection/4.jpg"
            srcset="./img/our-collection/4@2.jpg 2x"
            alt="Men's shirt Verkhovina"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Men's shirt Verkhovina</h3>
          <p class="name-text">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            src="./img/our-collection/5.jpg"
            srcset="./img/our-collection/5@2.jpg 2x"
            alt="Mountain men's shirt"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Mountain men's shirt</h3>
          <p class="name-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            src="./img/our-collection/6.jpg"
            srcset="./img/our-collection/6@2.jpg 2x"
            alt="online course"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Men's shirt Yasen</h3>
          <p class="name-text">1700 UAH</p>
        </div>
      </li>
    </ul>
    <div class="our-collection-background"></div>
  </div>
</section>
