<section class="our-collection section" id="our-collection">
  <div class="container-collection container">
    <h2 class="main-title">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            srcset="
              ./img/our-collection/image3-desk.jpg         400w, ./img/our-collection/image3-desk@2x.jpg         800w,
              ./img/our-collection/image1-tabl.jpg 342w, ./img/our-collection/image1-tabl@2x.jpg 684w ./img/our-collection/image63.jpg 335w, ./img/our-collection/image63@2x.jpg 670w
            "
            sizes="(min-width: 1280px) 400px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/our-collection/image63.jpg"
            alt="August Poltava women's blouse"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">August Poltava women's blouse</h3>
          <p class="name-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            srcset="
              ./img/our-collection/image4-desk.jpg         400w, ./img/our-collection/image4-desk@2x.jpg         800w,
              ./img/our-collection/image2-tabl.jpg 342w, ./img/our-collection/image2-tabl@2x.jpg 684w ./img/our-collection/image64.jpg 335w, ./img/our-collection/image64@2x.jpg 670w
            "
            sizes="(min-width: 1280px) 400px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/our-collection/image64.jpg"
            alt="Women's blouse Gorgany"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Women's blouse Gorgany</h3>
          <p class="name-text">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            srcset="
              ./img/our-collection/image5-desk.jpg         400w, ./img/our-collection/image5-desk@2x.jpg         800w,
              ./img/our-collection/image4-tabl.jpg 342w, ./img/our-collection/image4-tabl@2x.jpg 684w ./img/our-collection/image64-1.jpg 335w, ./img/our-collection/image64@2x-1.jpg 670w
            "
            sizes="(min-width: 1280px) 400px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/our-collection/image64-1.jpg"
            alt="Women's blouse Crimea"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Women's blouse Crimea</h3>
          <p class="name-text">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            srcset="
              ./img/our-collection/image63-desk.jpg         400w, ./img/our-collection/image63-desk@2x.jpg         800w,
              ./img/our-collection/image3-tabl.jpg 342w, ./img/our-collection/image3-tabl@2x.jpg 684w ./img/our-collection/image65.jpg 335w, ./img/our-collection/image65@2x.jpg 670w
            "
            sizes="(min-width: 1280px) 400px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/our-collection/image65.jpg"
            alt="Men's shirt Verkhovina"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Men's shirt Verkhovina</h3>
          <p class="name-text">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            srcset="
              ./img/our-collection/image64-desk.jpg         400w, ./img/our-collection/image64-desk@2x.jpg         800w,
              ./img/our-collection/image5-tabl.jpg 342w, ./img/our-collection/image5-tabl@2x.jpg 684w ./img/our-collection/image65-1.jpg 335w, ./img/our-collection/image65@2x-1.jpg 670w
            "
            sizes="(min-width: 1280px) 400px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/our-collection/image65-1.jpg"
            alt="Mountain men's shirt"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Mountain men's shirt</h3>
          <p class="name-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="images-container-collection">
          <img
            class="img-collection"
            srcset="
              ./img/our-collection/image65-desk.jpg         400w, ./img/our-collection/image65-desk@2x.jpg         800w,
              ./img/our-collection/image6-tabl.jpg 342w, ./img/our-collection/image6-tabl@2x.jpg 684w ./img/our-collection/image63-1.jpg 335w, ./img/our-collection/image63@2x-1.jpg 670w
            "
            sizes="(min-width: 1280px) 400px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/our-collection/image63-1.jpg"
            alt="online course"
          />
        </div>
        <div class="container-name-collection">
          <h3 class="name-title">Men's shirt Yasen</h3>
          <p class="name-text">1700 UAH</p>
        </div>
      </li>
    </ul>
    <div class="our-collection-background"></div>
  </div>
</section>
